<template>
  <div>
    <clv-menu/>
    <p>Ups! These aren't the droids you're looking for.</p>
  </div>
</template>

<script setup lang="ts">
import { ClvMenu } from 'javier-sedano-ufe5-component-library-vue3';
</script>
