<script setup lang="ts">

const LOREM = "lorem ipsum dolor sit amet";
const LOREM_LENGTH = LOREM.split(" ").length;

const props = defineProps<{ search: string }>();

const results = ref([] as string[]);

onMounted(async () => {
  results.value = [];
  for (let i = 0; i < LOREM_LENGTH; i++) {
    const resultArray = LOREM.split(" ");
    resultArray[i] = props.search;
    const result = resultArray.join(" ");
    results.value.push(result);
  };
});

</script>

<template>
  <div class="results">
    <p class="results-search">Searching: {{ search }}</p>
    <p v-for="result in results" :key="result">{{ result }}</p>
  </div>
</template>

<style scoped lang="scss">
.results {
  border: 1px solid black;

  &-search {
    font-weight: bold;
  }
}
</style>
