<template>
  <div>
    <clv-menu />
    <clv-text prefix="Home: ">This is the Home page in Nuxt3 / app-core</clv-text>
    <clv-search />
    <p @click="increment">Counter: {{ data?.counter }}</p>
    <p @click="reset">Total: <client-only>{{ total }} @ {{ at }} </client-only></p>
    <clv-text v-if="oidcUser !== null">Welcome, {{ oidcUser.profile.name }}, we will give you special
      offers!!</clv-text>
    <search-results v-if="search" :search="search" />
  </div>
</template>

<script setup lang="ts">
import { User } from 'oidc-client-ts';
import { OidcService, getSingletonOidcService } from 'javier-sedano-ufe5-lib-login';
import { ClvMenu, ClvText, ClvSearch } from 'javier-sedano-ufe5-component-library-vue3';
import 'javier-sedano-ufe5-component-library-vue3/style.css';
import { useTotalStore } from 'javier-sedano-ufe5-store-library-pinia/src/stores/total.store';

const route = useRoute();
const totalStore = useTotalStore();

const oidcUser = ref(null as User | null);
const search = ref(null as string | null);
const { total, at } = storeToRefs(totalStore);

let oidcService: OidcService = getSingletonOidcService();

const { data } = await useAsyncData('res', async () => {
  const counter = Math.round(Math.random() * 10) + 1;
  return {
    counter,
  };
});

onMounted(async () => {
  oidcService.addUserLoadedCallback((user: User) => {
    oidcUser.value = user;
  });
  oidcUser.value = await oidcService.getUser();
  search.value = route.query.search instanceof Array ? route.query.search[0] : route.query.search;
});

async function increment() {
  if (data?.value?.counter !== undefined) {
    data.value.counter++;
    totalStore.increment(data.value.counter);
  }
}

async function reset() {
  totalStore.reset();
}

</script>